gsoap/WS/WS-Discovery.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
From: http://schemas.xmlsoap.org/ws/2004/02/discovery/discovery.wsdl

(c) 2004 Microsoft Corporation, Inc. All rights reserved.
The Web Services Dynamic Discovery WSDL, a/k/a WS-Discovery WSDL (the "Document"), 
was developed by Microsoft, with the assistance of BEA Systems, Canon, Inc, and Intel 
(collectively, the "Co-Developers"). 

The copyright is owned by Microsoft, and Microsoft hereby grants you permission to copy and 
display the Document, in any medium without fee or royalty, provided that you include 
the following on ALL copies of the Document, or portions thereof, that you make: 
1.	A link or URL to the Document at this location: 
http://schemas.xmlsoap.org/ws/2004/02/discovery/discovery.wsdl 
2.	The copyright notice as shown in the Document. 

EXCEPT FOR THE COPYRIGHT LICENSE GRANTED ABOVE, MICROSOFT AND THE CO-DEVELOPERS DO NOT GRANT, 
EITHER EXPRESSLY OR IMPLIEDLY, A LICENSE TO ANY INTELLECTUAL PROPERTY, INCLUDING PATENTS, 
THEY, OR ANY OTHER THIRD PARTIES, OWN OR CONTROL.  TITLE TO THE COPYRIGHT IN THE DOCUMENT 
WILL AT ALL TIMES REMAIN WITH MICROSOFT. 

THE DOCUMENT IS PROVIDED "AS IS," MICROSOFT AND THE CO-DEVELOPERS MAKE NO REPRESENTATIONS 
OR WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, 
FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, OR TITLE; THAT THE CONTENTS OF THE 
DOCUMENT ARE SUITABLE FOR ANY PURPOSE; NOR THAT THE IMPLEMENTATION OF SUCH CONTENTS WILL 
NOT INFRINGE ANY THIRD PARTY PATENTS, COPYRIGHTS, TRADEMARKS OR OTHER RIGHTS. 

MICROSOFT AND THE CO-DEVELOPERS WILL NOT BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL 
OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR RELATING TO ANY USE OR DISTRIBUTION OF THE 
DOCUMENT. 

The Document may change before final release and you are cautioned against relying on the 
content of this Document. 

No other rights are granted by implication, estoppel or otherwise.
-->
<wsdl:definitions
    targetNamespace='http://schemas.xmlsoap.org/ws/2004/02/discovery'
    xmlns:tns='http://schemas.xmlsoap.org/ws/2004/02/discovery'
    xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' 
    xmlns:xs='http://www.w3.org/2001/XMLSchema' >

  <wsdl:types>
    <xs:schema>
      <xs:import
          namespace='http://schemas.xmlsoap.org/ws/2004/02/discovery'
          schemaLocation='discovery.xsd' />
    </xs:schema>
  </wsdl:types>

  <wsdl:message name='HelloMsg' >
    <wsdl:part name='body' element='tns:Hello' />
  </wsdl:message>

  <wsdl:message name='ByeMsg' >
    <wsdl:part name='body' element='tns:Bye' />
  </wsdl:message>

  <wsdl:message name='ProbeMsg' >
    <wsdl:part name='body' element='tns:Probe' />
  </wsdl:message>

  <wsdl:message name='ProbeMatchMsg' >
    <wsdl:part name='body' element='tns:ProbeMatch' />
  </wsdl:message>

  <wsdl:message name='ResolveMsg' />

  <wsdl:message name='ResolveMatchMsg' >
    <wsdl:part name='body' element='tns:ResolveMatch' />
  </wsdl:message>

  <wsdl:portType name='Discovery' >
    <wsdl:operation name='HelloOp' >
      <wsdl:output message='tns:HelloMsg' />
    </wsdl:operation>
    <wsdl:operation name='ByeOp' >
      <wsdl:output message='tns:ByeMsg' />
    </wsdl:operation>
    <wsdl:operation name='ProbeOp' >
      <wsdl:input message='tns:ProbeMsg' />
    </wsdl:operation>
    <wsdl:operation name='ProbeMatchOp' >
      <wsdl:output message='tns:ProbeMatchMsg' />
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:portType name='TargetService' >
    <wsdl:operation name='ResolveOp' >
      <wsdl:input message='tns:ResolveMsg' />
    </wsdl:operation>
    <wsdl:operation name='ResolveMatchOp' >
      <wsdl:output message='tns:ResolveMatchMsg' />
    </wsdl:operation>
  </wsdl:portType>

  <!-- If this portType is included in EndpointReference/Types, it
       indicates the Target Service is a Discovery Proxy.  Because
       this specification does not define proxy-specific operations,
       no operations are defined within this portType; Discovery
       Proxies implement other types that define proxy-specific
       operations.  Discovery Proxies also implement
       TargetService. -->
  <wsdl:portType name='DiscoveryProxy' />

</wsdl:definitions>